<div class="header">
    <p class="title">
        <%= image_tag 'logo.svg', alt: 'Logo', class: 'navbar-logo' %>
    </p>
</div>

<div class="calculator">
    <div class="right">
        <%= form_with model: @tip, id: "tip-form", local: false do |form| %>
        <%= render partial: "form_fields", locals: { form: form, tip_percentages: @tip_percentages, tip: @tip } %>
        <%= form.hidden_field :tip, id: "tip" %>
    </div>
    <%= render partial: "results_display", locals: { form: form } %>
    <% end %>

</div>